<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".AgentNativeToolAuditReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.signalasi.chat.DEBUG_NATIVE_TOOL_AUDIT" />
            </intent-filter>
        </receiver>
        <provider
            android:name=".AgentNativeToolTestContentProvider"
            android:authorities="${applicationId}.native-tool-test"
            android:exported="false" />
    </application>
</manifest>
